<div>
  <h1>Available soon...</h1>
  <div>login: test@test</div>
  <div>pass: test</div>
</div>
<mat-card class="light-container">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="user.email" placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      <button mat-icon-button matSuffix (click)="bad = !bad" [attr.aria-pressed]="bad">
        <mat-icon matSuffix>{{bad ? 'mood_bad' : 'mood'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="user.password" [type]="hide ? 'text' : 'password'" [formControl]="pass[0]" required>
      <mat-error *ngIf="pass[0].invalid">{{getErrorMessage()}}</mat-error>
      <button class="hide-pass" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input matInput [(ngModel)]="user.password" [type]="hide ? 'text' : 'password'" [formControl]="pass[1]" required>
      <mat-error *ngIf="pass[1].invalid">Password nod confirmed</mat-error>
      <button class="hide-pass" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="reg()">Registration</button>
</mat-card>
