<mat-card class="dark-container _container">
  <div>
    <h2>About page</h2>
  </div>
  <p style="font-size: 16px;"> Java , Angular , Spring , Postgres </p>
  <div>
  	<h4>Github</h4>
	  <a mat-raised-button href="https://github.com/Bobis1888/ReaderApi" target="_blank">API</a>
	  <a mat-raised-button href="https://github.com/Bobis1888/ReaderFront" target="_blank">Front</a>
  </div>
  <p style="font-size: 16px">Dev</p>
  <a mat-raised-button href="https://www.linkedin.com/in/bobis1888/" target="_blank">LinkedIn</a>
</mat-card>
