
<mat-card *ngIf="progress" class="dark-container">
  <mat-progress-bar mode="buffer" color="primary"></mat-progress-bar>
</mat-card>
<mat-card *ngIf="item" class="dark-container">
	<mat-card-header>
        <mat-card-title>{{item.header}}</mat-card-title>
        <mat-card-subtitle>{{item.publishDate}}</mat-card-subtitle>
  	</mat-card-header>
  	<mat-card-content [innerHTML]=item.body></mat-card-content>
    <mat-card-actions>
          <button mat-raised-button [routerLink]="['/']">Back</button>
        </mat-card-actions>
</mat-card>
